.docitem-wrapper {
	height: 100%;
	max-width: 1000px;
	margin: 0 auto;

	> .row {
		height: 100%;

		> .col {
			height: 100%;
		}
	}

	&__inner {
		height: 100%;
		display: flex;
		flex-direction: column;

		.pagination-nav {
			margin-top: auto;
		}
	}
}